html {
    text-align: center;
    font-size: 14px;
    font-family: serif;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#outerContainer {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex-basis: 37.5%;
}

#innerContainer {
    flex-basis: 25%;
}

#title {
    font-size: 20px;
}

.module {
    text-align: left;
}

.moduleTitle {
    text-align: center;
}