html {
    text-align: center;
    font-size: 14px;
    font-family: serif;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
}

#title {
    flex-basis: 75%;
}

#menu {
    flex-basis: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
}

.menuItem {
    flex-basis: 1;
    margin-right: 2rem;
    margin-left: 2rem;
}

#outerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar {
    flex-basis: 37.5%;
}

#innerContainer {
    flex-basis: 25%;
}

#title {
    font-size: 20px;
}

.module {
    text-align: left;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.moduleTitle {
    text-align: center;
}

.media {
    text-align: center;
}

.score {
    display: inline-block;
}

.audio {
    margin-top: 2rem;
    display: inline-block;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5rem;
}